<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Verify Email</title>
</head>
<script defer src = "js/client-side-form-validation.js"></script>
<body>
    <div class="verify-email-content">
        <h1>Verify Email</h1>
        <p>One more step! You now need to verify your email by clicking the confirmation link in the email we sent you.</p><br><br>
    </div>
</body>
</html>